/* blanco: #eoeoeo;
azul-opacidad. #184463;
bg-menu: #003053;
bg-body: #c7e1ff;
*/

.menu-dashboard {
    width: 150px;
    height: auto;
    background: #2C2D2D;
    padding: 20px;
    transition: max-width .3s ease;
}

 /* Enlaces menu */
.menu .enlace {
    width: 100%;
    padding: 20px 0 20px 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
    transition: all .3s ease;
    color: var(--white);
}

.enlace:hover {
    background: #454a4a;
}

.menu .enlace i {
    margin-right: 20px;
    font-size: 25px;
}

.menu .enlace span {
    opacity: 0;
    transition: opacity .3s ease;
}